/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #16103E;
    opacity: 0.699999988079071;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #16103E;
    font-weight: 500;
    font-family: Gilroy, Helvetica, sans-serif;
}

/*---------------------------------------------------------------------------*/

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.__container {
    max-width: 1920px;
    padding: 0 5px;
    box-sizing: content-box;
}

@media screen and (min-width: 404px) {
    .__container {
        padding: 0 30px;
    }
}

@media screen and (min-width: 640px) {
    .__container {
        padding: 0 81px;
    }
}

@media screen and (min-width: 1280px) {
    .__container {
        padding: 0 105px;
    }
}

@media screen and (min-width: 1590px) {
    .__container {
        padding: 0 279px;
    }
}

/* Sub-Header */

.language-banner__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #F6F8FA;
}

.language-banner__item {
    display: flex;
    align-items:center;
    gap: 5px;
}

.language-banner__item-close,
.item-language {
    cursor: pointer;
}

.item-language-select {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;

    box-shadow: 0px 1px 5px 0px rgba(0, 26, 66, 0.15);

    cursor: pointer;
}

.dropdown {
    position: relative;
    display: flex;
    align-items:center;
    gap: 5px;
}

.dropdown-language,
.dropdown-content {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    width: 208px;
    padding: 10px;

    border-radius: 10px;
    background: #FFF;

    box-shadow: 0px 1px 5px 0px rgba(0, 26, 66, 0.15);

    cursor: pointer;
}

.dropdown-language a,
.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    text-align: center;
    align-items:center;
    gap: 10px;
}

.dropdown-language a:hover,
.dropdown-content li:hover {
    background-color: #ddd;
}

.dropdown:active .dropdown-language,
.dropdown:hover .dropdown-language,
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
}

.dropdown:active a,
.dropdown:hover a {
    opacity: 1;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 12px;

    background: rgba(255, 255, 255, 0.90);
    box-shadow: 0px 6px 10px 0px rgba(0, 9, 95, 0.05);
}

.header__section {
    display: none;
    align-items:center;
    gap: 15px;
}

.header__item {
    padding: 8px 16px;
}

.header__item:hover {
    border-radius: 5px;
    background: #F6F8FA;
    opacity: 1;
}

.header__item:active {
    background: #E3E8EC;
}

.header__hamburger {
    display: flex;
    gap: 10px;
}

@media screen and (min-width: 1280px) {
    .header__hamburger {
        display: none;
    }

    .header__section {
        display: flex;
    }
}

.button {
    display: flex;
    padding: 11px 17px 10px 18px;
    justify-content: center;
    align-items: center;

    font-size: 16px;

    border-radius: 5px;
    opacity: 1;
}

.button-red {
    color: #fff;
    background: #E92128;
}

.button-white {
    gap: 6px;
    color: #16103E;

    border-radius: 10px;
    background: #FFF;

    box-shadow: 0px 2px 10px 0px rgba(0, 26, 66, 0.15);
}

/* Main */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 40px;

    width: 100%;

    color: #16103E;

    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

/* Footer */
.footer__top {
    background: #F1F3F5;
    padding: 131px 0;
}

.footer__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.footer__column {
    padding: 15px 15px;
    flex: 0 1 15.6667%;
}

.footer__column:last-child {
    flex: 0 1 33.334%;
}

@media (max-width: 992px) {
    .footer__column:not(:last-child) {
        display: none;
    }
    .footer__column:last-child {
        flex: 1 1 100%;
    }
}

@media (max-width: 767px) {
    .footer__column {
        flex: 0 1 50%;
    }
}

.footer__menu {
    margin-bottom: 30px;
}

.footer__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin: 0 0 20px 0;
}

.menu-footer__item:not(:last-child) {
    margin: 0 0 10px 0;
}

.menu-footer__link {
    display: inline-block;
    line-height: 171%;
    letter-spacing: 0.2px;
}

.menu-footer__link:hover {
    text-decoration: underline;
}


.contacts-footer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    border-radius: 5px;
    background: rgba(227, 232, 236, 0.80);
}



.contacts-footer_title {
    margin-bottom: 10px;
}

.contacts-footer__item {
    line-height: 142%;
    display: flex;
    align-items: center;
    gap: 10px;
    min-height: 30px;
}

.contacts-footer__item:hover {
    text-decoration: underline;
}

.contacts-footer__item:not(:last-child) {
    margin: 0 0 12px 0;
}

.contacts-footer__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__bottom {
    padding: 25px 0;
    background-color: #F1F3F5;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer__copy {
    color: #737373;
    line-height: 171%;
}


.social {
    display: flex;
    align-items: center;
}


.social__item:not(:last-child) {
    margin: 0 20px 0 0;
}

@media (max-width: 767px) {
    .footer__container {
        flex-direction: column;
    }
    .footer__copy {
        margin: 0 0 15px 0;
        text-align: center;
    }
}